h11~=0.14.0
pip~=24.0
attrs~=24.2.0
distro~=1.9.0
protobuf~=4.25.4
pillow~=10.4.0
docutils~=0.21.2
tornado~=6.4.1
Jinja2~=3.1.4
filelock~=3.15.4
rsa~=4.9
pyasn1~=0.6.0
typing_extensions~=4.12.2
grpcio~=1.66.1
rich~=13.7.1
Pygments~=2.18.0
markdown-it-py~=3.0.0
requests~=2.32.3
colorama~=0.4.6
ipython~=8.26.0
notebook~=7.2.1
PyYAML~=6.0.2
idna~=3.7
multidict~=6.0.5
zipp~=3.20.1
sniffio~=1.3.1
importlib_metadata~=8.4.0
pyproject_hooks~=1.1.0
build~=1.2.1
click~=8.1.7
httpcore~=1.0.5
certifi~=2024.7.4
mdurl~=0.1.2
numpy~=1.26.4
setuptools~=73.0.0
pytz~=2024.1
overrides~=7.7.0
charset-normalizer~=3.3.2
cffi~=1.17.0
sympy~=1.13.1
mpmath~=1.3.0
decorator~=5.1.1
typer~=0.12.4
shellingham~=1.5.4
fsspec~=2024.6.1
aiohttp~=3.10.5
yarl~=1.9.11
pyasn1_modules~=0.4.0
cachetools~=5.5.0
urllib3~=2.2.2
packaging~=24.1
orjson~=3.10.7
PyPika~=0.48.9
aiosignal~=1.3.1
frozenlist~=1.4.1
python-multipart~=0.0.9
aiohappyeyeballs~=2.4.0
asgiref~=3.8.1
backoff~=2.2.1
fastapi~=0.112.1
starlette~=0.38.2
pydantic~=2.8.2
pydantic_core~=2.20.1
websockets~=12.0
anyio~=4.4.0
six~=1.16.0
python-dateutil~=2.9.0.post0
posthog~=3.6.3
monotonic~=1.6
gradio~=4.42.0
uvicorn~=0.30.6
httptools~=0.6.1
watchfiles~=0.24.0
chromadb~=0.5.3
importlib_resources~=6.4.4
tenacity~=8.5.0
httpx~=0.27.0
bcrypt~=4.2.0
onnxruntime~=1.19.2
kubernetes~=30.1.0
mmh3~=4.1.0
tokenizers~=0.20.0
chroma-hnswlib~=0.7.3
greenlet~=3.0.3
psutil~=6.0.0
oauthlib~=3.2.2
Deprecated~=1.2.14
annotated-types~=0.7.0
langchain-core~=0.2.38
langchain~=0.2.16
langchain-community~=0.2.16
langsmith~=0.1.115
pandas~=2.2.2
openai~=1.42.0
langchain-text-splitters~=0.2.4
SQLAlchemy~=2.0.34
websocket-client~=1.8.0
pyreadline3~=3.4.1
wrapt~=1.16.0
requests-oauthlib~=2.0.0
platformdirs~=4.2.2
humanfriendly~=10.0
coloredlogs~=15.0.1
marshmallow~=3.22.0
flatbuffers~=24.3.25
tqdm~=4.66.5
jsonpointer~=3.0.0
jsonpatch~=1.33
huggingface-hub~=0.24.6
typing-inspect~=0.9.0
dataclasses-json~=0.6.7
mypy-extensions~=1.0.0
bs4~=0.0.2
beautifulsoup4~=4.12.3